
@media only screen and (max-width: 575px){
  .navbar{
  border-bottom: none;
  }
  .card{
    margin-top: 15px;
  }
  form .input-group{
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  .navbar{
  border-bottom: none;
  }
  .card{
    margin-top: 15px;
  }
  form .input-group{
    display: none;
  }

}