body {
	background-color: #fceac7;
	font-family: Verdana, Arial, sans-serif;
	color: #2E0000;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	/*-----------------------------------------------------------------------*/
	/*                           Changed min-width                           */
	/*-----------------------------------------------------------------------*/
	min-width: 800px;
	background-color: #E2D2B0;
}

header {
	background-color: #D2B48C;
	color: #000000;
	height: 100px;
	background-image: url(logo.png);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

nav {
	font-weight: bold;
	text-align: center;
	float: left;
	width: 160px;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 20px;
}

nav a {
	text-decoration: none;
	color: #A58366 !important;
}

nav a:visited {
	color: #A58366;
}

#content {
	padding: 1px 20px 20px 20px;
	background-color: #F5F5DC;
	margin-left: 175px;

}

#content img {
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}

#content table {
	width: 600px;
	margin: auto;
	border-style: none;
}

#content ul {
	list-style-image: url(bullet_orange_alt.png);
	list-style-position: inside;

}

#content tr {
	nth-of-type(odd) {
		background-color: #cca965
	}

	;
}

#content td {
	padding: 10px;
}

#content label {
	float: left;
	display: block;
	width: 120px;
}

#contact {
	padding-left: 0px;
	padding-right: 40px;
	overflow: auto;
}

footer {
	background-color: #D2B48C;
	color: #000000;
	padding: 20px;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}

/*-----------------------------------------------------------------------*/
/*                           Added row class                             */
/*-----------------------------------------------------------------------*/
.row:after {
	content: "";
	display: table;
	clear: both;
}